<app-header />
<main>
  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <app-user [user]="user" [selected]="user.id === selectedUserId" (select)="onSelectUser($event)"></app-user>
    </li>
    }
    <!-- <li>
      <app-user [user]="users[1]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectUser($event)"></app-user>
    </li> -->
  </ul>
  @if (selectUser) {
  <app-tasks [id]="selectUser.id" [name]="selectUser.name"></app-tasks>} @else {
  <p id="fallback">Select a User To See Their Tasks</p>
  }
</main>
